{% extends "layout.html" %}

{% block content %}
<!-- Carlow Flag Div -->
<div style="height:40%; width:100%;">
    <div style="background-color: red; height:100%; width:33%; float:left" ></div>
    <div style="background-color: yellow; height:100%; width:33%; float:left;"></div>
    <div style="background-color: limegreen; height:100%; width:33%; float: left;"></div>
</div>

<div>
    <h1 align="center">Carlow Handball</h1>
</div>

{% for s in stories %}
<div class="News">
    <h3 align="center"><a href="#">{{s[0]}}</a></h3>
    <div>{{s[1] | safe}}</div><a href="#">Read More</a>
</div>
{% endfor %}

{% endblock %}