{% extends "layout.html" %}

{% block content %}
<!-- Carlow Flag Div -->
<div style="height:40%; width:100%;">
    <div style="background-color: red; height:100%; width:33%; float:left" ></div>
    <div style="background-color: yellow; height:100%; width:33%; float:left;"></div>
    <div style="background-color: limegreen; height:100%; width:33%; float: left;"></div>
</div>

<div>
    <h1 align="center">Carlow Handball</h1>
</div>

<br /><br /><br />

<h2 align="center">News Stories</h2>
<br />
<div class="News">
    <h3 align="center">Test</h3>
</div>

<br /><br />

<div class="News">
    <h3 align="center">Test</h3>
</div>

<br /><br />

<div class="News">
    <h3 align="center">Test</h3>
</div>
{% endblock %}